body {
     background: rgba(255, 192, 203, 0.74)
}

h1 {
     text-align: center;
}

p  {
text-align: center;
font-family: Brush Script MT, Brush Script Std, cursive;
}

strong {
     color: cyan;}
     img{text-align: center;}