body {
     background: rgba(255, 192, 203, 0.74)
}

h2 {margin-left: 600px;}
h3{margin-left: 610px;}
p  {
text-align: center;
font-family: Brush Script MT, Brush Script Std, cursive;
}

img{text-align: center;}

.gu{width: 200px;;}
.joice{width: 200px;;}
.gigi{width: 200px;;} 
.mandi{width: 200px;margin-left: 560px;}
.helo{width: 200px;margin-left: 560px;}
.gigi{width: 200px;margin-left: 560px;}
.joice{width: 200px;margin-left: 560px;}
.gu{width: 200px;margin-left: 560px;}
.karol{width: 200px;margin-left: 560px;}
.lana{width: 200px;margin-left: 560px;}
.tick{width: 200px;margin-left: 560px;}
.prof{width: 200px;margin-left: 560px;}
